body {
background-color: cornsilk;
max-width: 100%;
}


h1 {

  background-color: cornsilk;
  margin: 25px 50px 75px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: darkgray;
  border-left: 6px burlywood;
}


p {
  background-color: cornsilk;
  margin: 5px 50px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: darkgray;
  border-left: 6px burlywood;
}


 h2 {
   background-color: cornsilk;
   margin: 25px 50px 75px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
   color: darkgray;
   border-left: 6px burlywood;
 }
div {
  width: 3500px;
  padding: 25px;
  max-width: 100%;
}
