body, html {
  background-image: linear-gradient(
    rgba(30, 30, 30, 0.8),
    rgba(30, 30, 30, 0.8)
  ),
  url("./TitleBackground.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 200%;
}

div.container {
  max-width: 1024px;
  min-width: 600px;
  background-color: rgba(30, 30, 30, 0.75);
  padding: 25px 50px 50px 50px;
  margin: 25px auto 50px auto;
}

b, strong {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  color: #a0a0a0;
}

p, ul {
  font-size: 20px;
}

a {
  color: #c0c0e0;
}

a:hover {
  color: white;
}

code {
  background-color: rgba(128,128,128,0.2)
}